*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.nav-section{
    width: 100%;
    height: auto;
}


.header{

    width: 100%;
    height: 25vh;
    background-position: center;
    background-size: cover;
    position: relative;

}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
    text-decoration-color: red;
    border: 1px solid azure;
    background-color: black;
    margin: 5px 5px;
    height: auto;
}

/* nav, .icon{

    margin-left: 5px;
} */






label{
    color: white;
}

input{
    background-color: green;
    width: 150px;
    height: 35px;
    margin-right: 16px;
}

nav img{
    width: 100px;
}

.nav-links{
    flex: 1;
    text-align: right;

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
}


.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: orange;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.text-box h1{
    font-size: 32px;
    color: green;

}


.text-box p{
    font-size: 20px;
    margin: 10px 0px 40px;
    color: rgb(3, 3, 3);
}

.text-box strong{
    color: green;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    padding: 12px 34px;
    border: 2px solid white;
    font-size: 15px;
    background: transparent;
    background-color: green;
    position: relative;
    color: white;
    cursor: pointer;
}

.hero-btn:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: 0.1s;
}

nav .fa{
    display: none;
}

nav > i{
    border: 2px solid rebeccapurple;
}

@media(max-width: 700px){

.text-box h1{
    font-size: 20px;
    color: blue;
}

.nav-links ul li{
    display: block;
}

.nav-links{
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;

}

nav .fa{
    display: block;
    color: green;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;

}



.nav-links ul{
    padding: 30px;
}
}


/*--------Cours---------*/

.course{

    text-align: center;
    width: 80%;
    padding-top: 100px;
    margin: auto;

}


h1{
    
    font-size: 36px;
    font-weight: 600px;
    

}


p{
    color: black;
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;

}


.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}

.course-col{
    flex-basis: 31%;
    background: #665353;
    /* border-radius: 10px; */
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5;
}

h3{
    font-weight: 600px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
    margin: 10px 0px;
}




@media(max-width: 700px){
    .row{
        flex-direction: column;
        
    }
}




/*------------------Call To Action----------*/

.cta{
    margin: 100px auto;
    width: 80%;
    background-color: #161515;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}


.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0px;
}

@media(max-width: 700px){

    .cta h1{
        font-size: 24px;
    }

}


/*---------Footer----*/

.footer{
    color: white;
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    border: 2px aliceblue;
    background-color: black;
    height: 10%;
}

.footer p{
    color: white;
}

.footer h4{
    color: white;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600px;
    font-family: 'Times New Roman', Times, serif;
}


.icons .fa{
    color: #f44336;
    margin: 0 13px;
    padding: 18px 0;
    cursor: pointer;
}


.fa-heart-o{
    color: #f44336;
}


/*----------About me----------*/

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-us, h1{
    color: green;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 0px;
}

.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top: 0;
}

.about-col p{
    padding: 15px 0px 25px;
}



/*-------------contact page --------------*/

.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
    background-color: black;
    
    
    
}
.location{
    width: 80%;
    margin: 100%;
    padding: 80px 0px;
}

.location iframe{
    width: 100%;
}

.contact-us{
    width: 80%;
    margin: auto;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;

}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.row-contact{
    flex-direction: column;
    

}


.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}


.contact-col div p{
    padding: 0px;
    
}

.contact-col div h5{
    font-size: 20px;
    padding-bottom: 5px;
    color: #555;
    font-weight: 400px;
}


.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}





.contact-col form .hero-btn{
    background-color: green;
    color: black;
    margin: 0 0 5px 5px;
    

}

.contact-col form .hero-btn:hover{
    background-color: green;
    color: white;
}



/*----------------------- Blog_content ----------------------------*/



.contact-content{
    width: 100%;
    /* background-color: aqua; */
}


.contact-content .contact-left{
    width: 100%;
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.blog-left h2{
    color: #222;
    font-weight: 600px;
    margin: 30px 0;
}


.contact-left{
    color: #999;
    padding: 0px;
    margin-left: 0px;
 
    
}

.contact-box{
    
    border: 1px solid #ccc;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 10px 20px;
    background-color: black;
    text-align: left;
    width: 75%;
    /* height: ; */
   
}

.contact-box h3{
    text-align: left;
    color: white;


}


.contact-form .hero-btn{
    background-color: green;
}

.contact-form input, .contact-form textarea{
    width: 80%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}


.contact-form button{
    margin: 40px 0;
}

@media(max-width: 700px){
    .sub-header h1{
        font-size: 24px;

    }
}




.contact-title{
    align-items: center;
}



.course-col .class-pdf{
    width: 70ox;
    height: 25px;
    background-color: green;
}

.course-col .class-pdf a{
    color: white;
}

.img-div{
    text-align: center;
}


.img-div img{
    width: 10%;
    height: 200px;
}



/* ---------------devcolaborators-------------- */






