{% extends 'base-template.html' %}
{% load static %}






{% block 'content' %}

    <section class="about-us">
        <h1>ABOUT ME</h1>
        <hr>
        <div class="row">
            <div class="about-col">
                <h2>Hi, I am Dani a Web-Developer.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, 
                    ipsum temporibus non repellendus voluptates sunt deserunt aliquam e
                    xplicabo provident quo! Cum laudantium non, neque commodi odit a
                    lias consequatur facilis fuga?</p>
                <a href="#" class="hero-btn">DISCOVER MY SKILLS</a>


                <div class="blog-right">
                    <h3>Front-End</h3>
                    <div>
                        <span>Theology</span>
                        <span>26</span>
                    </div>
    
                    
    
                    <div>
                        <span>Journalism</span>
                        <span>22</span>
                    </div>
                    <h3>Back-End</h3>
    
                    <div>
                        <span>Commerce</span>
                        <span>28</span>
                    </div>
    
                    <div>
                        <span>Electromecanics</span>
                        <span>29</span>
                    </div>
    
                    
                    
                </div>



            </div>

            <div class="about-col">

                <img src="{% static 'pages/img/Dani_Portrait.jpg' %} " alt="my-own-picture">

            </div>
        </div>

    </section>
{% endblock %}
