{% extends 'base-template.html' %}
{% load static %}



{% block 'content' %}
    <!-- <section class="title-contact">
        <div><h1>CONTACT ME</h1></div>
    </section> -->
    
    <section class="contact-content">
        <div class="contact-left">
            <div class="contact-box">
                <h3>MAIL ME!</h3>
                <form class="contact-form">
                    <input type="text" placeholder="Enter Name">
                    <input type="email" placeholder="Enter Email">
                    <textarea rows="5"  placeholder="Your Comment"></textarea>
                    <button type="submit" class="hero-btn red-btn">CONTACT ME</button>
                </form>
            </div>
        </div>       
    </section>
{% endblock %}



