{% extends 'base-template.html' %}
{% load static %}


{% block 'content' %}

    <section class="header">
        

        <div class="text-box">
            <h1>KARIBU! WELCOME! BIENVENU!</h1>
            <hr>
            
        </div>
        
            
        
    </section>
    <section class="div-image-developer">
        <div class="img-div"><img src="{% static 'pages/img/daniLab.jpg' %} " alt=""></div>
    </section>
     

     <section class="header">
        

        <div class="text-box">
           
                
            
            
            <p><strong>Dani Hangi</strong><br>Student in Computer Engineering department and Teacher Assistant in L0 FTSI. <br> Currently learning computer engineering at Christian Bilingual University Of Congo in Beni Town, DRC. <br><br> <a href="#">Learn more about my studies at UCBC.</a></p>
        </div>
            
        
    </section>
    

    <section class="cta">
        <h1><br>My Curicculum Vitae In PDF Format</h1>
        <!-- <a href="{% url 'contact' %}" class="hero-btn">Download My CV</a> -->
        <a href="{% static 'pages/img/Monfichier.pdf' %} " download>Download My CV</a>
    </section>

{% endblock %}


 