{% extends 'base-template.html' %}
{% load static %}






{% block 'content' %}


    <section class="course">
        <h1>MY SERVICES</h1>
        <br>
        </nav>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt accusamus molestiae deleniti ratione sapiente! Harum fuga ducimus ut fugiat quasi natus quisquam quos suscipit dolorem possimus, commodi excepturi placeat autem!</p>


        <div class="row">
            <div class="course-col">
                <h3>ZakoApp</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis saepe magni dicta ea consequuntur omnis laborum atque, nesciunt nisi non nam nobis qui aliquid voluptatibus consequatur hic! Error, non dolores?</p>

            </div>
            <div class="course-col">
                <h3>Laloca</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis saepe magni dicta ea consequuntur omnis laborum atque, nesciunt nisi non nam nobis qui aliquid voluptatibus consequatur hic! Error, non dolores?</p>

            </div>
            <div class="course-col">
                <h3>E-Wallet</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis saepe magni dicta ea consequuntur omnis laborum atque, nesciunt nisi non nam nobis qui aliquid voluptatibus consequatur hic! Error, non dolores?</p>

            </div>
            

        </div>

    </section>

{% endblock %}






 
